//Переменные и миксины
@import "variable/variable";

//Библиотеки
@import "libs/normalize";
@import "libs/swiper-bundle.min";

//Шрифты
@import "fonts";

*{
    box-sizing: border-box;
}

h1,h2,h3,ul,li,p{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.3s;
}

.overflow{
    overflow: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
//Блоки
@import "blocks/header";
@import "blocks/menu";
@import "blocks/keys";
@import "blocks/news";
// Адаптив
@import "media/media-1200px";
@import "media/media-1024px";
@import "media/media-768px";
@import "media/media-576px";