.experience{
    padding-bottom: 160px;
    background-color: #F2F2F2;
    &__title{
        font-family: 'Candara';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 62px;
        text-transform: uppercase;
        color: #120B3F;
        margin-bottom: 60px;
    }
    &__img{
        width: 100%;
        margin-bottom: 60px;
    }

    &__block{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &:not(:last-child){
            margin-bottom: 60px;
        }
        &__title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-transform: uppercase;
            color: #120B3F;
            max-width: 360px;
        }
        &__descr{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #120B3F;
            max-width: 760px;
            
        }
        &_span-mt {
            margin-top: 24px;
            display: block;
        }
        &_span{
            display: block;
            margin: 0;
        }
    }

}