.keys{
    padding: 160px 0;
    background-color: #F2F2F2;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    .container{
        overflow: hidden;
    }
    &__title{
        font-family: 'Candara';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 62px;
        text-transform: uppercase;
        color: #120B3F;
    }
    &__all{
        display: block;
        width: 200px;
        height: 40px;
        padding: 9px 0 9px 51px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #5F49EA;
        border: 1px solid #5F49EA;
        border-radius: 8px;
        position: relative;
        &::before{
            content: url('../img/svg/arrow-up.svg');
            position: absolute;
            top:8px;
            right: 58px;
            width: 10px;
            height: 10px;
        }
        &:hover{
            opacity: 0.6;
        }
    }

    &__line{
        margin-bottom: 60px;
        width: 100%;
        height: 1px;
        background-color: #D8D8D8;
    }

    &__swiper{
        width: 100%;
        min-height: 0;
        position: relative;
        &__logo{
            max-width: 100px;
            max-height: 60px;
            margin-bottom: 24px;
        }
        &__flex{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    
        &__title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #120B3F;
            margin-bottom: 16px;
        }
        &__descr{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #120B3F;
            max-width: 360px;
            margin-bottom: 30px;
        }
        &__title-list{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #120B3F;
            margin-bottom: 5px;
        }
        &__item{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #120B3F;
            max-width: 360px;
            padding-left: 25px;
            list-style: none;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 7px;
                left:10px;
                width: 5px;
                height: 5px;
                background-color: #120B3F;
                border-radius: 100%;
            }
        }

        &__img{
            max-width: 760px;
            max-height: 540px;
        }

    }
    &__swiper-pagination{
        position: absolute;
        z-index: 5;
        bottom: 20px !important;
        left: 64px !important;
        max-width: 100%;
        height: 8px;

    }
    .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
        background: #D8D8D8;
        &:not(:last-child){
            margin-right: 4px;
            margin-left: 0;
        }
    }
    
    .swiper-pagination-bullet-active{
        background: #fff;
    }
    &__swiper-button-prev{
        width: 40px;
        height: 40px;
        border: 1px solid #5F49EA;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        bottom: 0;
        left:0;
        z-index: 5;
        transform: rotate(-180deg);
        &:hover{
            opacity: 0.6;
        }
        svg{
            width: 24px;
            height: 24px;
            width: 24px;
            height: 24px;
            stroke:#5F49EA;
            fill: none;
        }
    }
    &__swiper-button-next{
        width: 40px;
        height: 40px;
        border: 1px solid #5F49EA;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        bottom: 0;
        left:144px;
        z-index: 5;
        
        &:hover{
            opacity: 0.6;
        }
        svg{
            width: 24px;
            height: 24px;
            stroke:#5F49EA;
            fill: none;
        }
    }
}

    