@media (max-width:1200px) {
    .container{
        max-width: 992px;
    }
    .header{
        &__contacts{
            flex-direction: column;
            width: auto;
        }
        &__phone{
            &::before{
                top: 15px;
            }
        }
        &__list{
            width: 405px;
        }

        &__search{
            input{
                width: 110px;
            }
        }
    }

    .keys{
        &__swiper{
            &__descr{
                line-height: 18px;
                margin-bottom: 20px;
            }
            &__logo{
                margin-bottom: 12px;
            }
        }
        &__title{
            margin-bottom: 10px;
        }
    }

    .news{
        &__text{
            margin-right: 40px;
        }
        &__swiper{
            &__subtitle{
                max-width: 300px;
            }
        }
    }

    .completics{
        &__card{
            padding: 0 20px;
        }
        &__block{
            max-width: 280px;
        }
    }

    .services{
        &__links{
            flex-direction: column;
            align-items: center;
            a{
                &:not(:last-child){
                    margin-bottom: 40px;
                }
            }
        }
    }
    .free{
        &__wrapper{
            display: flex;
            justify-content: space-between;
            input{
                width: 300px;
            }
        }
    }

    .clients{
        &__text{
            max-width: 330px;
        }
        &__img{
            max-width: 600px;
        }
    }

    .about{
        &__text{
            max-width: 560px;
        }
    }

    .project{
        &__wrapper{
            display: flex;
            justify-content: space-between;
            input{
                width: 300px;
            }
        }
    }

    .footer{
        &__logo{
            max-width: 320px;
        }
        &__menu{
            max-width: 320px;
        }
        &__block{
            max-width: 320px;
        }
    }

    .query{
        &__wrapper{
            display: flex;
            justify-content: space-between;
            input{
                width: 300px;
            }
        }
    }

    .help{
        &__card{
            padding: 20px;
            min-height: auto;
        }
        &__block{
            max-width: 280px;
        }
    }
    .experience{
        &__block{
            flex-direction: column;
            margin-bottom: 0;
            &__title{
                max-width: 100%;
                margin-bottom: 30px;
            }
            &__descr{
                max-width: 100%;
                &:not(:last-child){
                    margin-bottom: 40px;
                }
            }
        }
    }

    .know{
        position: relative;
        &__text{
            flex-direction: column;
        }
        &__agent{
            margin-bottom: 40px;
        }
        &__link{
            position: absolute;
            top:30%;
            right: 45px;
        }
    }
}