@media (max-width:767px) {
    .container{
        max-width: 576px;
    }
    .header{
        &__wrapper{
            padding: 12px 0 12px 0;
        }
        &__logo{
            margin-right: 10%;
        }
    }
    .news{
        &__allnews{
            right: 75px;
        }
    }
}