@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 15px;
    }

    .header{
        padding: 0 15px;
        &__wrapper{
            justify-content: space-around;
        }
        &__logo{
            width: 81px;
            height: 12px;
            a{
                width: 81px;
                height: 12px;
                svg{
                    width: 81px;
                    height: 12px;
                }
            }
            
        }
        &__contacts{
            width: 138px;
            margin-right: 12px;
            align-items: flex-start;
        }
        &__phone{
            margin-bottom: -5px;
            a{
                font-size: 14px;
                line-height: 1px;
            }
            &::before{
                top:9px;
                transform: scale(0.8);
            }
        }

        &__consulting {
            a{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 1px;
                text-decoration-line: underline;
                text-transform: lowercase;
                color: #5F49EA;
            }
        }
        &__mobile{
            width: 30px;
            height: 30px;
            max-width: 30px;
            margin-right: 10px;
            .input{
                height: 30px;
                &__active{
                    background: #fff;
                    max-width: 130px;
                    padding-left: 40px;
                    bottom: -43px;
                    right: 10px;
                    
                }
            }
        }
        &__mobile_search{
            width: 30px;
            height: 30px;
        }
        &__mobile__button{
            width: 30px;
            height: 30px;
            max-width: 30px;
            max-height: 30px;
        }
        &__mobile_burger{
            width: 30px;
            height: 30px;
            opacity: 1;
            &_dn{
                opacity: 0;
                transition: all 0.2s;
                display: none;
            }
            span{
                width: 16px;
                &:nth-child(2){
                    margin: 4px 0 4px 0;
                }
            }
        }
    }

    .menu{
        margin-top: 55px;
        padding-top: 40px;
        &__list{
            min-height: 260px;
            margin-bottom: 30px;
        }
        &__item{
            a{
                font-size: 18px;
            }
        }
        &__contacts{
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            min-height: 202px;
        }
        &__tel, &__email{
            a{
                font-size: 18px;
            }
        }
        &__title{
            font-size: 14px;
            margin-bottom: 12px;
        }

        &__block{
            width: 100%;
            flex-direction: column;
            &_adress{
                font-size: 14px;
                &:nth-child(1){
                    margin-bottom: 14px;
                }
            }
        }
    }

    .keys{
        padding: 80px 0 80px 0;
        &__wrapper{
            margin-bottom: 30px;
        }
        &__line{
            margin-bottom: 30px;
        }
        &__title{
            font-size: 28px;
            margin-bottom: 0;
        }
        &__all{
            padding: 14px 0 12px 43px;
            font-size: 10px;
            line-height: 16px;
            width: 160px;
            max-height: 40px;
            border-radius: 4px;
            &:before{
                transform: scale(0.6);
                top: 11px;
                right: 45px;
            }
        }
        &__swiper{
            &__title{
                font-size: 18px;
                margin-bottom: 16px;
            }
            &__logo{
                width: 60px;
                top:-9px;
            }
            &__descr, &__item, &__title-list{
                font-size: 14px;
            }
            
        }
        &__swiper-button-prev{
            margin-top: 30px;
        }
        &__swiper-button-next{
            margin-top: 30px;
        }
    }

    .news{
        padding: 0 0 80px 0;
        &__text{
            display: flex;
            flex-direction: column;
        }
        &__title{
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 39px;
        }
        &__subtitle{
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 16px;
        }
        &__allnews{
            position: relative;
            top: auto;
            right: auto;
            padding: 14px 0 12px 34px;
            font-size: 10px;
            line-height: 16px;
            width: 160px;
            height: 40px;
            margin-bottom: 52px;
            &::before{
                transform: scale(0.8);
                top: 9px;
                right: 40px; 
            }
        }
        &__swiper{
            .swiper-slide{
                flex-direction: column;
            }
            &__img{
                order: 1;
                margin-bottom: 17px;
            }
            &__text{
                order: 2;
            }
            &__link{
                margin-bottom: 70px;
            }
        }
        &__swiper-button-next{
            left: auto;
            right: 0;
        }
        &__swiper-pagination{
            left: 46% !important;
        }
    }

    .main{
        padding-top: 40px;
        &__title{
            line-height: 40px;
        }
        &__wrapper{
            padding-bottom: 204px;
        }
        &__number{
            font-size: 60px;
            margin-bottom: 12px;
        }
    }
    .completics{
        &__title{
            width: 100%;
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 40px;
        }
        &__card{
            padding: 0;
            &__link{
                width: 100%;
            }
        }
        &__block{
            padding: 30px 16px 30px 16px;
        }
    }

    .services{
        padding-top: 80px;
        &__descr{
            font-size: 18px;
            line-height: 24px;
            width: 100%;
        }
        &__text{
            margin-bottom: 24px;
        }
        &__links{
            width: 100%;
            a{
                &:before{
                    right: -30px;
                }
            }
        }
    }

    .free{
        &__title{
            font-size: 28px;
            line-height: 34px;
        }
        &__police{
            font-size: 7px;
        }
    }

    .news{
        padding-top: 80px;
    }

    .project{
        &__title{
            font-size: 28px;
            line-height: 34px;
        }
        &__police{
            font-size: 7px;
        }
        &__btn{
            height: 50px;
        }
    }

    .footer{
        padding: 40px 0;
        &__menu{
            max-width: 121px;
        }
        &__container{
            &_adress{
                max-width: 250px;
            }
        }
    }

    .modal{
        &__close{
            right: 15%;
        }
    }

    .agent{
        padding-top: 80px;
        &__img-dekstop{
            display: none;
        }
        &__img-mobile{
            display: block;
        }
    }

    .help{
        &__wrapper{
            width: 100%;
        }
        &__card{
            padding: 30px 16px;
            min-height: 262px;
            min-width: 328px;
        }
        &__block{
            min-height: 202px;
        }
    }

    .know{
        &__link{
            top: 49%;
        }
    }
    .query{
        &__title{
            font-size: 28px;
            line-height: 34px;
        }
        &__police{
            font-size: 7px;
        }
        &__btn{
            height: 50px;
        }
    }

    .news-title{
        &__top{
            max-width: 360px;
        }
        &__news{
            max-width: 224px;
        }
        .news-slider__swiper-pagination {
            top: auto!important;
            left: 43%!important;
            bottom: 16px!important;
        }
    }
    .news-slider{
        .news__allnews{
            top: -10px;
        }
    }

    .wechat{
        padding-top: 100px;
    }
}