@media (max-width: 1024px) {
    .container{
        max-width: 678px;
    }

    .header{
        &__wrapper{
            padding: 14px 0 18px 0;
            justify-content: center;
        }
        &__list{
            display: none;
        }
        &__search{
            display: none;
        }
        &__logo{
            margin-right: 25%;
        }
        &__contacts{
            margin-right: 30px;
        }
        &__mobile{
            position: relative;
            margin-right: 20px;
            transition: all 0.3s;
            display: block;
            width: 40px;
            height: 40px;
            &_search{
                display: block;
                width: 40px;
                height: 40px;
                background: #FFFFFF;
                border: 1px solid #D8D8D8;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-right: 16px;
                svg{
                    width: 16px;
                    height: 16px;
                    stroke: #5F49EA;
                    fill: transparent;
                }
            }

            .input {
                width: 130px;
                height: 40px;
                padding: 12px 0 12px 40px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #120B3F;
                text-transform: uppercase;
                background: #FFFFFF;
                border: 1px solid #D8D8D8;
                border-radius: 4px;
                position: absolute;
                bottom: -60px;
                right: 30px;
                transition: all 0.3s;
                opacity: 0;
                z-index: -2;
                &__active{
                    z-index: 3;
                    opacity: 1;
                    transition: all 0.3s;
                }
            }
            .input:focus {
                border-color: #120B3F;
                outline: #120B3F;
            }
            
            &_burger{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                border: 1px solid #5F49EA;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                cursor: pointer;
                span{
                    transition: all 0.3s;
                    width: 20px;
                    height: 1px;
                    background-color: #5F49EA;
                    &:nth-child(2){
                        margin: 6px 0;
                    }
                }
                &_active{
                    span{
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(1){
                            transform: translate(1px, 1px) rotate(45deg);
                        }
                        &:nth-child(3){
                            transform: translate(0, 0) rotate(-45deg);
                        }
                    }
                    
                } 
            }
            
        }
    }


    .keys{
        &__block{
            order:2;
            max-width: 678px;
            position: relative;
        }
        &__swiper{
            &__flex{
                flex-direction: column;
            }
            &__img{
                order:1;
                max-width: 678px;
                max-height: 482px;
                margin: 0 auto;
                margin-bottom: 30px;
            }

            &__descr{
                max-width: 100%;
                text-align: left;
            }
            &__logo{
                position: absolute;
                top:-15px;
                right: 0;
                width: 88px;
                height: 31px;
            }
        }
        &__swiper-button-prev{
            position: relative;
            margin-top: 60px;
        }
        &__swiper-button-next{
            left: auto;
            right: 0;
            margin-top: 60px;
        }
        &__swiper-pagination{
            left: 46% !important;
        }
    }

    .news{
        &__wrapper{
            flex-wrap: wrap;
        }
        &__text{
            margin-right: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            position: relative;
            column-gap: 30px;
        }
        &__title{
            max-width: 324px;
            margin-bottom: 60px;
        }
        &__subtitle{
            max-width: 324px;
        }
        &__allnews{
            position: absolute;
            top: 74px;
            right: 125px;
            z-index: 2;
        }
        &__swiper{
            &__img{
                width: 324px;
                height: 234px;
            }
            &__link{
                margin-bottom: 44px;
                display: block;
                width: 175px;
                height: 22px;
                &::before{
                    top: -2px;
                    right: -20px;
                }
            }
        }

    }

    .main{
        &__wrapper{
            padding-bottom: 302px;
            background: url('../img/main/table-main.webp') bottom center /contain no-repeat;
        }
        &__title{
            max-width: 658px;
            margin-bottom: 16px;
        }
        &__subtitle{
            margin-bottom: 30px;
        }
        &__block{
            flex-wrap: wrap;
        }
        &__card{
            &:nth-child(3){
                margin: 0 auto;
                margin-top: 40px;
            }
        }
    }

    .completics{
        &__wrapper{
            flex-direction: column;
        }
        &__card{
            min-height: auto;
            max-width: 100%;
            width: 100%; 
            margin-bottom: 16px;
            &__title{
                margin-bottom: 24px;
            }
            &__descr{
                margin-bottom: 30px;
            }
        }
        &__block{
            padding: 60px 30px;
            align-items: flex-start;
            min-height: auto;
            max-width: 100%;
        }
    }

    .services{
        &__text{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 68px;
        }
        &__title{
            margin-bottom: 30px;
        }
        &__item{
            justify-content: flex-start;
        }
        &__links{
            width: 329px;
            a{
                max-width: 280px;
            }
        }
        &__rigth{
            max-width: 280px;
        }
        &__left{
            align-items: flex-start;
        }
        &__company{
            min-width: 206px;
            max-width: 206px;
        }
    }

    .free{
        &__wrapper{
            flex-direction: column;
            input{
                width: 100%;
                &:not(:last-child){
                    margin-bottom: 16px;
                }
            }
        }
        &__police{
            max-width: 100%;
            a{
                display: block;
            }
        }
        
        
    }

    .clients{
        &__wrapper{
            flex-wrap: wrap;
        }
        &__text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 100%;
            align-items: flex-start;
        }
        &__descr{
            max-width: 324px;
        }
        &__img{
            width: 100%;
            max-width: 100%;
        }
    }

    .about{
        padding: 120px 0;
        &__wrapper{
            flex-direction: column;

        }
        &__img{
            background: url('../img/about/table-about.webp') center center /cover no-repeat;
            max-width: 100%;
            max-height: 305px;
            width: 678px;
            height: 305px;
            order: 1;
            margin-bottom: 30px;
            img{
                display: none;
            }
        }
        &__text{
            order: 2;
            max-width: 100%;
        }
    }

    .project{
        &__wrapper{
            flex-direction: column;
            input{
                width: 100%;
                &:not(:last-child){
                    margin-bottom: 16px;
                }
            }
        }
        &__police{
            max-width: 100%;
            a{
                display: block;
            }
        }
        
    }

    .footer{
        &__wrapper{
            flex-wrap: wrap;
        }
        &__company{
            display: none;
        }
        .footer-mobile__company{
            display: block;
        }

        &__danger{
            margin-bottom: 102px;
        }

        &__block{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__contact{
            width: 320px;
        }
        &__social{
            width: 285px;
        }
        &__adress{
            width: 100%;
        }
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 60px;
            &_adress{
                &:nth-child(1){
                    width: 320px;
                }
                &:nth-child(2){
                    width: 285px;
                }
            }
        }
        &-mobile__company{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }

    .modal{
       &__title{
        padding-top: 20px;
        margin-bottom: 12px;
       }
       &__btn{
        margin-bottom: 20px;
       }
    }

    .agent{
        &__wrapper{
            display: block;
            position: relative;
        }
        &__img{
            position: absolute;
            top:100px;
            right: 0;
            max-width: 324px;
            max-height: 314px;  
        }
    }

    .help{
        &__wrapper{
            flex-direction: column;
        }
        &__card{
            padding: 60px 30px;
            max-width: 100%;
            width: 100%;
            max-height:314px ;
            align-items: flex-start;
            &:not(:last-child){
                margin-bottom: 16px;
            }
        }
        &__block{
            max-width: 100%;
            max-height:314px ;
            min-height: 194px;
        }
    }

    .query{
        &__wrapper{
            flex-direction: column;
            input{
                width: 100%;
                &:not(:last-child){
                    margin-bottom: 16px;
                }
            }
        }
        &__police{
            max-width: 100%;
            a{
                display: block;
            }
        }
    }

    .news-title{
        &__news{
            text-overflow: ellipsis; /* Многоточие */
            white-space: nowrap; /* Отменяем перенос текста */
            overflow: hidden; /* Обрезаем содержимое */
            max-width: 519px;
        }
        &__author{
            right: 0;
        }
        &__content{
            padding: 47px 30px 60px 30px;
        }
    }

    // .news{
    //     &__allnews{
    //         top: 10px;
    //         left:auto;
    //         right: 0;
    //     }
    // }
    .swiper-slide{
        max-width: 678px;
    }
    .news-slider{
        overflow: hidden;
        &__text{
            margin-bottom: 55px;
        }
        &__content{
            max-width: 678px;
            &__text{
                max-width: 324px;
            }
        }
        &__img{
            width: 324px;
            height: 234px;
        }
    }
    .wechat__descr__img{
        width: 170px;
        height: auto;
    }
    .wechat__graf{
        &__img{
            max-width: 678px;
            max-height: 407px;
        }
    }

    .know{
        &__link{
            top:40%;
        }
    }

}